html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

html {
  height: 100%; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.wrapper {
  max-width: 100%;
  height: 100vh;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 70px;
  padding-top: 30px;
  padding-bottom: 15px;
  background-image: url(../img/fon.jpg); }
  .wrapper .wrapper-grid {
    height: 100%;
    display: grid;
    grid-template-columns: 1.5fr 2fr; }
    .wrapper .wrapper-grid .welcome {
      display: flex;
      align-items: center;
      justify-content: center; }
      .wrapper .wrapper-grid .welcome .welcome-messag {
        margin: 0; }
        .wrapper .wrapper-grid .welcome .welcome-messag .hello {
          font-size: 1.5em;
          font-weight: 700; }
    .wrapper .wrapper-grid .logo-auth-container .logo-box {
      display: flex;
      justify-content: right; }
      .wrapper .wrapper-grid .logo-auth-container .logo-box .logo {
        width: 40px;
        height: 40px; }
    .wrapper .wrapper-grid .logo-auth-container .forms {
      margin-top: 70px;
      margin-bottom: 0px;
      margin-left: auto;
      margin-right: auto;
      width: 344px;
      max-width: 50%; }
      .wrapper .wrapper-grid .logo-auth-container .forms .txt {
        margin-bottom: 15px;
        font-size: 3.5em;
        font-weight: 700; }
      .wrapper .wrapper-grid .logo-auth-container .forms form .justify-btn {
        display: flex;
        justify-content: space-between; }
        .wrapper .wrapper-grid .logo-auth-container .forms form .justify-btn .forgot .recover-pwd {
          text-decoration: none;
          color: #1E1E1E; }
      .wrapper .wrapper-grid .logo-auth-container .forms .btn {
        display: flex;
        align-items: center;
        justify-content: center; }
      .wrapper .wrapper-grid .logo-auth-container .forms .sing {
        background-color: #1E1E1E;
        width: 100%;
        border-color: #1E1E1E;
        border-radius: 5px;
        margin-top: 60px; }
      .wrapper .wrapper-grid .logo-auth-container .forms .google {
        margin-top: 10px;
        background-color: white;
        border-color: white;
        width: 100%;
        border-radius: 5px;
        color: #1E1E1E; }

/*# sourceMappingURL=style_auth.css.map */
